.profile_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    margin: 1.5rem;
}

.profile_container img{
  display: none;
}

.profile_container span{
  color: #09B8A9;
}

.profile_container p{
  line-height: 1.5rem;
  font-weight: 500;
}

.profile_container button{
  width: 100%;
  background-color: #555ED6;
  color: #fdfdfd;
  border: none;
}

.profile_container button:hover{
  background-color: #555ed693;
  cursor: pointer;
  border: 1px solid #555ED6;
}


@media (min-width: 576px) {
  .profile_container{
    flex-direction: row;
  }
}