.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  height: 4rem;
  background-color: #fdfdfd;
  margin-right: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);

  position: sticky;
  top: 0;
  z-index: 1000;
}

.symbols_container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 4rem;
  background-color: #fdfdfd;
  width: 100%;
}

.hamburger {
  cursor: pointer;
  border: 0;
  padding: 0.25rem;
  border-radius: 50%;
  background-color: #fdfdfd;
}

.hamburger:hover {
  background-color: #f0f0f0;
}

.open {
  display: none;
}

.nav_bar {
  display: none;
}

.header_open {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem 1rem;
  width: 100%;
  height: 60%;
  background-color: #fdfdfd;
  margin-right: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  gap:1rem;

  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav_bar_list_open {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 25vh;
}

.nav_bar_list_item_open{
  width: 90%;
  border-radius: 10px;
}

.nav_bar_list_item_open:hover{
  background-color: #f0f0f0 ;
}

.symbols_container_open {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  /* padding: 1rem; */
}

.menu_toggle_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 1rem;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .nav_bar_open {
    display: none;
  }

  .nav_bar {
    display: block;
    width: 50%;
  }

  .nav_bar_list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    font-weight: bold;
  }
}

@media (min-width: 992px) {
  .header {
    padding-right: 2rem;
    gap: 2rem;
  }

  .nav_bar {
    display: block;
    width: 40%;
  }
}
